<div class="user-imgs">
  <h2>MES PHOTOS</h2>
  <i>La 1ère image sera utilisée comme photo de profil</i>
  <form action='/upload' method="POST" enctype="multipart/form-data">
    <div class="img-cntnr">
      <br/>
      <% if current_user.img1 %>
        <img src="files/<%= current_user.img1 %>"/>
      <% else %>
        <img src="/images/empty.png"/>
      <% end %>
      <input type="file" name="img1"/>
    </div>
    <div class="img-cntnr">
      <% if current_user.img2 %>
        <img src="files/<%= current_user.img2 %>"/>
      <% else %>
        <img src="/images/empty.png"/>
      <% end %>
      <input type="file" name="img2"/>
    </div>
    <div class="img-cntnr">
      <% if current_user.img3 %>
        <img src="files/<%= current_user.img3 %>"/>
      <% else %>
        <img src="/images/empty.png"/>
      <% end %>
      <input type="file" name="img3"/>
    </div>
    <div class="img-cntnr">
      <% if current_user.img4 %>
        <img src="files/<%= current_user.img4 %>"/>
      <% else %>
        <img src="/images/empty.png"/>
      <% end %>
      <input type="file" name="img4"/>
    </div>
    <div class="img-cntnr">
      <% if current_user.img5 %>
        <img src="files/<%= current_user.img5 %>"/>
      <% else %>
        <img src="/images/empty.png"/>
      <% end %>
      <input type="file" name="img5"/>
    </div>
    <br/>
    <br/>
    <input type="submit" value="ENREGISTRER" class="red-btn"/>
    <br/>
  </form>
</div>
