<%= erb(:'layouts/settings_header') %>
<div class="usr-forms basic-cntnr">
  <div class="user-imgs">
    <h2>MES PHOTOS</h2>
    <i>La 1ère image sera utilisée comme photo de profil</i>
    <form action='/upload' method="POST" enctype="multipart/form-data">
      <div class="img-cntnr">
        <br/>
        <img src="/files/<%= get_image('img1') %>"/>
        <input type="file" name="img1"/>
      </div>
      <div class="img-cntnr">
        <img src="/files/<%= get_image('img2') %>"/>
        <input type="file" name="img2"/>
      </div>
      <div class="img-cntnr">
        <img src="/files/<%= get_image('img3') %>"/>
        <input type="file" name="img3"/>
      </div>
      <div class="img-cntnr">
        <img src="/files/<%= get_image('img4') %>"/>
        <input type="file" name="img4"/>
      </div>
      <div class="img-cntnr">
        <img src="/files/<%= get_image('img5') %>"/>
        <input type="file" name="img5"/>
      </div>
      <br/>
      <br/>
      <input type="submit" value="ENREGISTRER" class="red-btn"/>
      <br/>
    </form>
  </div>
</div>
