<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="search-cntnr">
  <div class="search-bar">
    <h2>RECHERCHE AVANCÉE</h2>
    <form action="/search" method="GET">
      <% if profile_complete?(current_user) < 80 %>
        <i>Complétez votre profil pour accéder aux suggestions</i>
      <% else %>
        <p class="checkbox-cntnr check-rgt">
          <input type="checkbox" id="check1" name="personalized" <%= ((defined? personalized) && (personalized == "on")) ? "checked" : "" %>>
          <label for="check1">Sélection personnalisées</label>
        </p>
      <% end %>
      <br/>
      <p>Préférences :</p>
      <div class="radio-cntnr">
        <p class="radio">
          <input type="radio" name="gender" id="match3" value="B" <%= gender_is_given(params['gender'], "B") %>>
          <label for="match3"><img src="/images/both.png"/></label>
        </p>
        <p class="radio">
          <input type="radio" name="gender" id="match1" value="M" <%= gender_is_given(params['gender'], "M") %>>
          <label for="match1"><img src="/images/male.png"/></label>
        </p>
        <p class="radio">
          <input type="radio" name="gender" id="match2" value="F" <%= gender_is_given(params['gender'], "F") %>>
          <label for="match2"><img src="/images/female.png"/></label>
        </p>
      </div>
      <br/>
      <div class="sliders-cntnr">
        <div class="sld">
          <p>Age: <input type="text" id="age_min" class="age-rank text-dark" name="min_age"> - <input type="text" id="age_max" class="age-rank text-dark" name="max_age">ans</p>
          <div id="slider-range"></div><br/>
        </div>
        <div class="sld">
          <p>Popularité: <input type="text" id="score_min" class="age-rank text-dark" name="min_score"> - <input type="text" id="score_max" class="age-rank text-dark" name="max_score"></p>
          <div id="slider-range2"></div><br/>
        </div>
      </div>
      <p>Proximité:</p>
      <div class="filters">
        <select class="filter-box" name="location">
          <option disabled selected value></option>
          <option value="2" <%= location_is_given(params['location'],"2") %>>2km</option>
          <option value="3" <%= location_is_given(params['location'],"3") %>>3km</option>
          <option value="5" <%= location_is_given(params['location'],"5") %>>5km</option>
          <option value="10" <%= location_is_given(params['location'],"10") %>>10km</option>
          <option value="20" <%= location_is_given(params['location'],"20") %>>20km</option>
          <option value="50" <%= location_is_given(params['location'],"50") %>>50km</option>
          <option value="100" <%= location_is_given(params['location'],"100") %>>100km</option>
          <option value="500" <%= location_is_given(params['location'],"500") %>>500km</option>
          <option value="1000" <%= location_is_given(params['location'],"1000") %>>1000km</option>
        </select>
      </div>
      <input type="hidden" name="order" value="<%= order %>"/>
      <p>Tags en commun: <i>(séparés par une virgule)</i></p>
      <input id="tags" type="text" name="tags" value="<%= tags %>"/>
      <div class="btn-cntnr">
        <input type="submit" value="RECHERCHER" class="red-btn"/>
      </div>
  </div>
  <div class="usrs">
    <div class="filters">
      Filtrer par :
      <select name="order" class="filter-box" onchange="this.form.submit()">
        <option disabled selected value></option>
        <option value="age">Age</option>
        <option value="location">Localisation</option>
        <option value="public_score">Popularité</option>
        <option value="tags">Tags</option>
      </select>
    </div>
    <% @users.each do |user| %>
      <% user.to_dot %>
        <a href="/user/<%= user.id %>/show">
          <div class="usr-result">
            <img src="/files/<%= proper_img(user.img1) %>"/>
            <p class="name"><%= user.name.upcase %></p>
            <p class="age"><%= user.age %> ans</p>
          </div>
        </a>
    <% end %>
    <div class="paginate">
      <div><%= previous_page(@page) %></div>
      <div><%= @page %></div>
      <div><%= next_page(@page, @page_count, @count, @per_page) %></div>
    </div>
  </form>
</div>
<script>
// sliders code
$( function() {
	$( "#slider-range" ).slider({
		range: true,
		min: 0,
		max: 100,
		values: [ <%= params["min_age"] ? params["min_age"] : 0 %>, <%= params["max_age"] ? params["max_age"] : 100 %> ],
		slide: function( event, ui ) {
			$("#age_min").val( ui.values[ 0 ] );
      $("#age_max").val( ui.values[ 1 ] );
		}
	});
	$( "#age_min" ).val( $( "#slider-range" ).slider( "values", 0 ));
  $( "#age_max" ).val( $( "#slider-range" ).slider( "values", 1 ));
} );
$( function() {
	$( "#slider-range2" ).slider({
		range: true,
		min: 0,
		max: 100,
		values: [ <%= params["min_score"] ? params["min_score"] : 0 %>, <%= params["max_score"] ? params["max_score"] : 100 %> ],
		slide: function( event, ui ) {
			$( "#score_min" ).val( ui.values[ 0 ]);
      $( "#score_max" ).val( ui.values[ 1 ]);
		}
	});
  $( "#score_min" ).val( $( "#slider-range2" ).slider( "values", 0 ));
  $( "#score_max" ).val( $( "#slider-range2" ).slider( "values", 1 ));
} );
</script>
