<div class="usr-profile usr-profile1 <%= heart_animation(@user.id) %>">
  <div class="usr-banner">
    <img src="/files/<%= proper_img(@user.img1) %>"/>
    <% if its_a_match?(@user.id) %>
      <div class="its_a_match">
        VOUS AVEZ MATCHÉ !
      </div>
    <% end %>
    <h1 class="name"><%= proper_value('login') %></h1>
    <div class="score-cntnr">
      <%= @user.public_score %> / 100 <img src="/images/stars.png"/>
    </div>
    <div class="banner-sub">
      <p><img src="/images/age.png"/> <%= @user.age %> ans</p>
      <p><img src="/images/location.png"/> <%= proper_value('city') %></p>
      <p><img src="/images/gender-symbols.png"/> <%= @user.gender %></p>
      <p><img src="/images/rabbit-shape.png"/> Zoophile/<%= @user.interested_in %></p>
      <p><img src="/images/clock.png"/> <%= @user.last_login.strftime('%m/%d/%Y') %></p>
    </div>
  </div>
  <% if !reported_as_fake? %>
    <div class="usr-infos">
      <% unless @user.id == current_user.id %>
        <div class="usr-like-cntnr">
          <% if have_image %>
            <form action="/like" method="POST">
              <img src='/images/<%= heart_img %>'/>
              <input type="hidden" value="<%= @user.id %>" name="user_id"/>
              <input type="hidden" value="<%= current_user.id %>" name="sender_id"/>
              <input type="submit" value="<%= like_btn_val %> " class="white-btn">
            </form>
          <% end %>
            <form action="/report-as-fake" method="POST">
              <img src='/images/angry.png'/>
              <input type="hidden" value="<%= @user.id %>" name="user_id"/>
              <input type="submit" value="Faux compte " class="white-btn">
            </form>
          <form action="/block" method="POST">
            <img src='/images/<%= block_img %>'/>
            <input type="hidden" value="<%= @user.id %>" name="user_id"/>
            <input type="hidden" value="<%= current_user.id %>" name="sender_id"/>
            <input type="submit" value="<%= block_btn_val %> " class="white-btn">
          </form>
          <div class="fake">
            <img src='/images/connected.png'/>
            <input type="submit" value="En ligne " class="white-btn">
          </div>
        </div>
      <% end %>
      <h3>PHOTOS</h3>
      <div class="usr-img-cntnr">
        <div class="flex-first">
          <div><img src="/files/<%= proper_img(@user.img1) %>"></div>
        </div>
        <div class="flex-first">
          <div><img src="/files/<%= proper_img(@user.img2) %>"></div>
        </div>
        <div class="flex-first">
          <div><img src="/files/<%= proper_img(@user.img3) %>"></div>
        </div>
        <div class="flex-first">
          <div><img src="/files/<%= proper_img(@user.img4) %>"></div>
        </div>
        <div class="flex-first">
          <div><img src="/files/<%= proper_img(@user.img5) %>"></div>
        </div>
      </div>
      <div class="usr-show-tags">
        <div class="tags-cntnr">
          <% if @tags %>
            <% @tags.each do |tag| %>
              <% tag.to_dot %>
              <p><%= get_content(tag.tag_id) %></p>
            <% end %>
          <% else %>
            <h5>Vous n'avez pas créé de tags.</h5>
          <% end %>
        </div>
      </div>
      <h3>DESCRIPTION</h3>
      <div class="usr-description-cntnr">
        <%= proper_value('description') %>
      </div>
    </div>
  <% else %>
    <div class="fake-user">
      <h3>Cet utilisateur a été reporté comme faux compte</h3>
      <p>Nous étudions actuellement son profil, merci de votre compréhension</p>
    </div>
  <% end %>
</div>
