<div class="usr-profile usr-profile1">
  <div class="usr-banner">
    <img src="/files/<%= @user.img1 %>"/>
    <h1 class="name"><%= @user.login.upcase.force_encoding("UTF-8") %></h1>
    <div class="score-cntnr">
      <%= @user.public_score %> / 100 <img src="/images/stars.png"/>
    </div>
    <div class="banner-sub">
      <p><img src="/images/age.png"/> <%= @user.age %> ans</p>
      <p><img src="/images/location.png"/> <%= @user.city.force_encoding("UTF-8") %></p>
      <p><img src="/images/gender-symbols.png"/> <%= @user.gender %></p>
      <p><img src="/images/rabbit-shape.png"/> Zoophile/<%= @user.interested_in %></p>
    </div>
  </div>
  <div class="usr-infos">
    <div class="usr-like-cntnr">
      <form action="">
        <img src='/images/heart2.png'/>
        <input type="submit" value="Liker " class="white-btn">
      </form>
      <form action="">
        <img src='/images/angry.png'/>
        <input type="submit" value="Faux compte " class="white-btn">
      </form>
      <form action="">
        <img src='/images/stop.png'/>
        <input type="submit" value="Bloquer " class="white-btn">
      </form>
      <div class="fake">
        <img src='/images/like-2.png'/>
        <input type="submit" value="Vous a liké " class="white-btn">
      </div>
      <div class="fake">
        <img src='/images/connected.png'/>
        <input type="submit" value="En ligne " class="white-btn">
      </div>
    </div>
    <h3>PHOTOS</h3>
    <div class="usr-img-cntnr">
      <div class="flex-first">
        <div><img src="/files/<%= @user.img1 %>"></div>
      </div>
      <div class="flex-first">
        <div><img src="/files/<%= @user.img2 %>"></div>
      </div>
      <div class="flex-first">
        <div><img src="/files/<%= @user.img3 %>"></div>
      </div>
      <div class="flex-first">
        <div><img src="/files/<%= @user.img4 %>"></div>
      </div>
      <div class="flex-first">
        <div><img src="/files/<%= @user.img5 %>"></div>
      </div>
    </div>
    <div class="usr-show-tags">
      <p>#bananes</p>
      <p>#fessesrouges</p>
      <p>#papillons</p>
    </div>
    <h3>DESCRIPTION</h3>
    <div class="usr-description-cntnr">
      <%= @user.description.force_encoding("UTF-8") %>
    </div>
  </div>
</div>
