<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Matcha | <%= @title %></title>
    <link rel="stylesheet" href="/stylesheets/application.css" />
  </head>
  <body class='container'>
    <%= erb(:'layouts/header') %>
    <% if flash[:notice] || flash[:success] %>
      <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
          <%= flash[type] %></br>
        </div>
      <% end %>
    <% end %>
    <% if flash[:error] %>
     <% flash[:error].each do |e| %>
       <p class="error message"><%= e + "." %></p>
      <% end %>
    <% end %>
    </br>
    <%= yield %>
    <br/>
    <%= erb(:'layouts/footer') %>
  </body>
</html>