<div class="usr-btns settings">
  <a href="/edit"><div class="<%= this_page?('edit') %>"><img src="/images/settings.png"/></div></a>
  <a href="/images"><div class="<%= this_page?('images') %>"><img src="/images/photo-camera.png"/></div></a>
  <a href="/location"><div class="<%= this_page?('location') %>"><img src="/images/placeholder.png"/></div></a>
  <a href="/edit-password"><div class="<%= this_page?('edit-password') %>"><img src="/images/lock.png"/></div></a>
  <a href="/visits/index"><div class="<%= this_page?('visitsindex') %>"><img src="/images/notif-visit.png"/></div></a>
  <a href="/likes/index"><div class="<%= this_page?('likesindex') %>"><img src="/images/notif-like.png"/></div></a>
  <div class="<%= this_page?('labels') %>"><img src="/images/label.png"/></div>
</div>
